/* @import url("http://fonts.cdnfonts.com/css/dunkin"); */

body {
  background-color: #000;
}

header {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: "Dunkin", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  position: relative;
}
section div {
  margin: 20px;
}
p {
  margin: 0;
}
.player--1 {
  /* background-color: #5745b8; */
  background-color: #a239ea;
  height: 50vh;
  transform: rotate(180deg);
}
.player--2 {
  /* background-color: #b5f07f; */
  background-color: #5c33f6;
  height: 50vh;
}

.features--1 {
  position: relative;
  color: #fff;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2em;
}
.features--2 {
  position: relative;
  color: #fff;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2em;

  /* color: #5745b8; */
}

.btn {
  position: relative;
  top: 60px;
  background-color: #fff;
  border: none;
  color: #000;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  outline: none;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transition: 0.2s;
  transform: scale(0.95);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}
.btn--hold {
  padding: 15px 32px;
  margin-bottom: 10px;
}
.btn--roll {
  padding: 15px 36px;
}
