body {
  background-color: black;
}

#target {
  color: white;
}
header {
  color: white;
}
main {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.player {
  background-color: #5746b2;
  height: 70vw;
  width: 80vw;

  transition: all 0.75s;
  text-align: center;
  margin: 10px;
}

.active {
}

.features--1 {
  transform: rotate(-180deg);
}
.features--2 {
  position: relative;
  bottom: -40vh;
}
